/* Google font 'Open sans' */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Open Sans", sans-serif;

  /* --colour-1: #5F6F52; */
  --colour-1: #294b39;
  --colour-2: #A9B388;
  --colour-3: #FEFAE0;
  --colour-4: #B99470;
  --grey-bg: rgba(210,210, 210,1);

  /* remove default styles */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;

  background-color: var(--grey-bg);

  overflow-x: hidden;
}

#section-1 {
  background-image: url("images/mbingu-3.png");
  background-repeat: no-repeat;
  background-position: center 25%;
  height: 700px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 95%, rgba(0,0,0,0) 100%);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;

  /* Standard syntax */
  mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 95%, rgba(0,0,0,0) 100%);
  mask-repeat: no-repeat;
  mask-size: cover;
}

#section-1-blurb {
  font-size: 2.5rem;
  font-weight: 600;

  width: 90%;
  max-width: 900px;
  color: white;
  margin: auto auto 10rem 3rem;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7);
}

#section-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0 4rem 0;

  flex-wrap: wrap;
}

#section-2-header {
  color: var(--colour-1);
  font-size: 3rem;
  margin-bottom: 2rem;
  text-shadow: 1px 1px 1px #000;
}

#section-2-content {
  display: flex;
}

#section-2-image {
  width: 100%;
  max-width: 400px;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 0.2rem;
}

@media (max-width: 1000px) {
  #section-2-content {
    flex-direction: column;
    align-items: center;
  }
}

#section-2-blurb {
  width: 90%;
  max-width: 900px;
  font-size: 1.5rem;

  padding: 1rem 3rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: rgba(220, 220, 220, 1);
  border-radius: 0.2rem;
}

#logo {
  width: 50%;
  max-width: 400px;
}

img {
  max-width: 100%;
}

footer {
  background-color: var(--colour-1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 1.5rem 0;

  color: var(--colour-3)
}

#footer a {
  color: var(--colour-3);
}

#footer-header {
  margin-bottom: 1rem;
}

#contact-list {
  list-style: none;

  display: flex;
  flex-direction: column;

  font-size: 1.5rem;
}

#contact-list a {
  color: var(--colour-3);
  margin-left: auto;
}

#contact-list a:hover {
  color: var(--colour-2);
}

#contact-list a:active {
  color: var(--colour-4);
}

#contact-list li {
  display: flex;
  gap: 1.5rem;
}
